body{
    background-color: azure;
    padding: 50px 100px;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background: gray;
    padding: 40px;
}
.div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 20px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
label{
    font-size: large;
}